body
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px 30px 30px;
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px;
}

.title
{
    font: 600 22px 'Poppins', sans-serif;
}

.back
{
    position: absolute;
    left: 30px;
    cursor: pointer;
    /* Menambahkan cursor pointer untuk menunjukkan tindakan klik */
}

.task-title
{
    font: 700 25px 'Poppins', sans-serif;
}

.bottom-detail
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.member,
.deadline
{
    width: 40%;
    /* Menyesuaikan lebar */
    font: 200 16px 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.date
{
    font-weight: 600;
    margin-top: 7px;
}

.task-detail p
{
    font-family: 'Poppins', sans-serif;
    color: #181818;
}

.Attachments
{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.bg
{
    border-radius: 0.8rem;
    padding: 20px;
    margin: 15px 0px;
    border: 1px solid rgb(230, 230, 230);
}

.img
{
    width: 65px;
    height: 65px;
    background: red;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
}

.icon
{
    margin: 9px 4px;
}

/* Menambahkan gaya untuk tombol Finish */
.finish button
{
    background-color: rgba(0, 110, 233, 1);
    border-radius: 10px;
    height: 30px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    /* Menambahkan cursor pointer untuk menunjukkan tindakan klik */
}

/* Media query untuk responsivitas pada perangkat dengan lebar maksimum 509px */
@media (max-width: 509px)
{
    .deadline
    {
        width: 50%;
    }
}

/* Menghilangkan scrollbar pada elemen dengan class 'task' */
.task::-webkit-scrollbar
{
    display: none;
}

.menu:hover
{
    background-color: rgb(216, 216, 216);
    color: black;
    padding: 7px 10px;
    animation-duration: 400ms;
    border-radius: 1rem;
}

.menu
{
    padding: 7px 10px;
    border-radius: 1rem;
}

.add-attachment
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hide
{
    display: none;
}

.comment{
    
}

.comment-username
{
    margin-left: 10px;
    font-size: 0.98rem;
}

.comment-text
{
    background: rgb(221, 220, 220);
    padding: 10px;
    border-radius: 1rem;
    margin: 15px 0px;
    font-size: 0.8rem;
}